body {
    font-family: Arial, sans-serif;
  }
  
  .table-container {
    width: 80%;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border: 3px solid #ed8864
  }
  
  th {
    background-color: #f2f2f2;
  }

  h3 {
    text-align: center;
    color: green;
  }
  

  .container {
    padding: 0;
    background-color: #92d7f0;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
    
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }  

  h2 {
    text-align: center;
  }
  